/* Core */
body{margin:40px;}

/* Glyphicons */
.glyphicon-discord {
    float:right;

    background: url(/img/discord.png) no-repeat bottom right;

    margin: -3px -6px 0px 25px;
    
    width: 50px;
    height: 50px;

    background: url(/img/discord.png) no-repeat;
    background-size: 50px 50px;
}

/* Buttons */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.buttonContainer {
    text-align: center;
    width: 300px;
    height: 125px;
    display: inline-block;
    background-color: #eee;
    clear: right;
}
.buttonContainer .button {
}
.buttonContainer .text {
    color: cadetblue;
    font-weight: bold;
    clear: left;
    float: right;
}